parameters:
    level: 4
    paths:
        - classes
    excludePaths:
        - classes/Bili/TemplateInterface.php
    phpVersion: 80100
    ignoreErrors:
        -
            identifier: return.void
            path: classes/Bili/Collection.php
        -
            identifier: return.void
            path: classes/Bili/LanguageCollection.php
